-# = link_to new_reservation_user_path do
-#   new
-# - @users.each do |user|
-#   = link_to edit_user_path(user) do
-#     = "edit#{user.id}"
-#   = link_to user_path(user) do
-#     = "show#{user.id}"
