.Devise
  %h1 comming soon...
  -# %h2 Forgot your password?

  -# = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  -#   = render "devise/shared/error_messages", resource: resource
  -#   .field.text-input
  -#     -# = f.label :email
  -#     -# %br/
  -#     = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "EMAIL"
  -#     %span.separator
  -#   .actions.form-bottom
  -#     = f.submit "Send"
  = render "devise/shared/links"
